*

!emulators/
!emulators/**/

!hack/
!hack/**/

# LFS 跟踪二进制文件
!*.3ds
!*.7z 
!*.bin
!*.cci
!*.cdi
!*.chd
!*.cso
!*.gb 
!*.gbc
!*.gcm
!*.gcz
!*.iso
!*.n64
!*.nds
!*.pce
!*.pcm
!*.rfz
!*.rvz
!*.sfc
!*.sms
!*.v64
!*.vb 
!*.wad
!*.z64
!*.zip
!*.PBP

# CD目录
!*.m3u

# 缩略图
!*.png

# 说明文档
!*.md
!*.txt
!*.csv

# 脚本
!*.sh
!*.py

# 配置文件
!*.json
!*.ini
